@import '~carbon-components/css/carbon-components.css';

  .title{
    font-weight: bolder;
    font-size: xx-large;
    margin-bottom: 15px;
    padding:5px;
 }
 .divcreate1 {
    text-align: center;
    align-content: center;
    position: relative;
    width: 90%;
    border: 10px solid #ced4da;
    padding: 5px;
    margin-bottom: 15px;
    background-color:white;
    margin: 80px;
    margin-left: 100px;
    margin-bottom:30px ;
    position: relative;
    
  }
  .buttonlablecreate{
  
    border: 0px solid;
    margin: 0px;
    color:sky blue;
    font-size: large;
    padding:1.5%;
    text-align: center;
    width: fit-content;
 
  }
  .txt{
  height: 500%;
  }
 